http_port: 8080
mqtt_endpoint: nsa-agent.l.krnl.eu
#mqtt_endpoint: 127.0.0.1
mqtt_port: 1883
sensor_update_interval: 1s
sensors:
- type: Temperature
  place: Indoors
  name: temperature-indoors
  unit: Celsius
  initial_value: 20
  topic: room001/input/temperature
  location: room001
- type: ParticulateMatter
  place: Indoors
  name: air-particles-indoors
  unit: ug/m3
  initial_value: 50
  topic: room001/input/particulate-matter
  location: room001
- type: Humidity
  place: Indoors
  name: humidity-outdoors
  unit: Percent
  initial_value: 50
  topic: room001/input/humidity
  location: room001
- type: CO2
  place: Indoors
  name: co2-indoors
  unit: ppm
  initial_value: 200
  topic: room001/input/co2
  location: room001
- type: Temperature
  place: Outdoors
  name: temperature-outdoors
  unit: Celsius
  initial_value: 20
  topic: outdoors/temperature
  location: outdoors
- type: ParticulateMatter
  place: Outdoors
  name: air-particles-outdoors
  unit: ug/m3
  initial_value: 50
  topic: outdoors/particulate-matter
  location: outdoors
actuators:
- type: Ventilation
  name: ventilation
  topic: room001/output/ventilation
  location: room001
- type: Heater
  name: heater
  topic: room001/output/heater
  location: room001
- type: AirPurifier
  name: air-purifier
  topic: room001/output/air-purifier
  location: room001
- type: AirConditioner
  name: air-conditioner
  topic: room001/output/air-conditioner
  location: room001

